.footerContainer {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & p {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: normal;
  }
}

.footerLeft {
  & p {
    font-weight: bold;
    font-style: normal;
    border-right: 1px solid #ebebeb;
    padding-right: 0.7rem;
  }
}

.footerRight {
  padding-left: 0.7rem;
}

.footerLinkDecoration a {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .footerContainer {
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
  }
}
