@import url("https://fonts.bunny.net/css?family=ibm-plex-sans");
@import './Theme.module.scss';

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
    color: $textPrimary;
    background-color: $backgroundLight;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    transition: color 0.2s ease;
}

a:hover {
    transition: opacity 0.2s ease;
    text-decoration-color: inherit;
    color: $accent;
}

a.bannerImage:hover {
    transition: opacity 0.2s ease;
    opacity: 0.8;
}

// ul {
//     margin: 0;
//     padding-bottom: 0;
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0;
//     list-style-position: inside;
//     list-style-image: none;
// }

ul, ol {
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 1.5rem;
    list-style-position: inside;
    list-style-image: none;
    // text-indent: 1.5rem;
}

// ul,
// ol,
// p {
//     margin-bottom: 1.45rem;
// }

img {
    max-width: 100%;
}

img,
figure,
table,
fieldset {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
}

pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    // margin-bottom: 1.45rem;
    font-size: 0.8rem;
    line-height: 1.42;
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    margin-left: 1rem;
    // padding: 1.45rem;
}

table {
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 2rem;
    border-left: 2px solid $accent;

    & p {
        padding-left: 1rem;
    }
}

strong {
    font-weight: bold;
}

ol {
    padding-left: revert;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

ol li {
    padding-left: 0;
}

ul li {
    padding-left: 0;
}

li>ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

li>ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
    margin-bottom: 0;
}

li *:last-child {
    margin-bottom: 0;
}

p *:last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: calc(1.45rem / 2);
}

// p,
// li {
//     &>code {
//         font-size: 0.85rem;
//         line-height: 1.45rem;
//         background-color: $codeBackground;
//         padding: .1rem .5rem .2rem;
//         border-radius: 3px;
//     }
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 0;
    margin-right: 0;
    
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    // margin-top: 1.45rem;
    // margin-bottom: 1.45rem;
    color: inherit;
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: 1.6rem;
    letter-spacing: -1px;
    line-height: 1.1875;
}

h2 {
    font-size: 1.3rem;
    letter-spacing: -0.75px;
    font-weight: 500;
    // line-height: 1.2;
    // margin-top: 2rem;
    // color: $accent;
}

h3 {
    font-size: 1.1rem;
    letter-spacing: -0.5px;
    line-height: 1.1875;
    color: $accent;
    font-weight: normal;
}

p {
    font-size: medium;
    letter-spacing: -0.5px;
    line-height: 1.5;
}

div.hr {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $primaryLighter;
}

hr {
    height: 1px;
    border: 0;
    background-color: $primaryLighter;
    margin: 2rem 0.2rem;
}

.caption {
    font-size: 0.78rem;
    margin-bottom: 1rem;
}

:not(pre)>code[class*=language-] {
    white-space: pre !important;
    padding-left: 0 !important;
}

p>code, li>code {
    padding-left: .4rem;
    padding-right: .4rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: $codeLight;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    font-size: 0.8rem;

    // color: #6b107b;
}

.code-copy-button {
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.15;
    transition: .3s;

    &:hover {
        opacity: 0.4;
        transition: opacity .3s;
    }

    &:active {
        opacity: 0.8;
        text-align: center;
        transform: scale(0.9);

    }
}

#refArticle,
#blogArticle {
    & h2 {
        // margin-top: 1.45rem;
        // margin-bottom: 1rem;
    }

    & p {
        font-size: medium;
    }

    & pre+p {
        // margin-top: 1.5rem;
    }
}

#usesArticle {

    /** 
    * Add space between the h3 and p tags on the uses page
    * Also add space after an image
    */
    & h3+p,
    & span+p {
        margin-bottom: 0;
    }

    /**
    * If bold text comes after an image and normal text comes right after.
    * Used for paragraphs with titles.
    */
    & span+p strong,
    & p+h3 {
        margin-bottom: .5rem;

    /**
    * If bold text comes directly after an image, add some space
    */
        &::before {
            content: "";
            display: block;
            height: 1.45rem;
        }
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 1.6rem;
        letter-spacing: -1px;
        line-height: 1.1875;
    }

    h2 {
        font-size: 1.3rem;
        letter-spacing: -0.75px;
        line-height: 1.1667;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: -0.5px;
        line-height: 1.1875;
        font-weight: normal;
    }

    p {
        line-height: 1.4375;
    }


}